<?xml version="1.0" encoding="utf-8"?>
<manifest package="demo.app.android.sanid.com.debugghostexample"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApp">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:name=".content.MyContentProvider"
            android:authorities="demo.app.android.sanid.com.debugghostexample.provider"
            android:enabled="true"
            android:exported="false">
        </provider>
    </application>

</manifest>